.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    height: 7em;
    display: grid;
    align-items: center;
    grid-template-columns: 33.33% 66.69%;
    background-image: linear-gradient(#00ffc8 30%, #ffffff00);
    z-index: 1;
}

.title-container {
    font-size: 2.5em;
    font-weight: 500;
    margin-left: 3em;
}

.title:hover {
    color: rgb(56, 56, 56);
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin-right: 9em;
}

a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    transition: .2s;
}

a:hover {
    color: rgb(139, 139, 139);
}