/***************  Header ***************/

.header-container {
    width: 100%;
    top: 0;
    height: 5em;
    position: fixed;
    z-index: 1;
    border-bottom: solid 1px #4DC8FF;
    display: grid;
    align-items: center;
    grid-template-columns: 33.33% 66.66%;
    background: #fff;
}

.title-container {
    font-size: 2.5em;
    font-weight: 300;
    margin-left: 3em;
}

.title:hover {
    color: rgb(56, 56, 56);
}

.nav-container-desktop {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ham-menu {
    display: none;
}

.pop-up-nav {
    display: none;
}

.pop-up-nav-items {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin-right: 3em;
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    transition: .2s;
}

a:hover {
    color: rgb(139, 139, 139);
}

/***************  Hero Section  ***************/

#top {
    position: absolute;
    top: 0;
}

#home {
    margin-top: 5em;
    background: #4DC8FF;
    min-height: 115vh;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.hero-container {
    width: 50%;
    height: 100%;
}

.hero-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    color: #fff;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10%;
    height: 50%;
}

.hero-title h1 {
    font-size: 3em;
    margin-bottom: 18px;
    text-align: center;
}

.hero-desc-container {
    margin-top: 0px;
    width: 75%;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 18px;
}

.hero-desc-container-tablet {
    display: none;
}

.hero-desc-container h4 {
    font-weight: 500;
}

.projects-btn {
    margin-top: 0px;
    margin-bottom: 40px;
    background: #C3FFC1;
    width: 207px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    border-radius: 45px;
    transition: .2s;
}

.projects-btn:hover {
    background: rgb(199, 248, 198);
    box-shadow: 0 0 5px 1px #777777;
    color: #3a3a3a;
}

.icon-container {
    width: 175px;
    display: flex;
    justify-content: space-between;
}

.icon-container img {
    box-shadow: 0 0 0 #777777;
    width: 40px;
    transition: .4s;
}

.icon-container img:hover {
    box-shadow: 0 0 20px lightgray;
    filter: invert(50%);
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.scroll-icon {
    position: relative;
    left: calc(50% - 20px);
    bottom: 100px;
    animation: move .9s alternate;
    animation-delay: 3s;
    animation-iteration-count: 4;
}

.wait {
    animation-name: appear;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}

/***************  About Section  ***************/

#about {
    margin-top: -100px;
}

.philo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transform: skewY(-4deg);
    height: auto;
    position: relative;
    top: -30px;
}

.philo-section {
    width: 80%;
    display: flex;
    justify-content: space-around;
    transform: skewY(4deg);
    padding: 7% 0;
}

.philo {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.philo-icon {
    align-self: center;
    width: 93px;
    height: 93px;
}

.blue-line {
    align-self: center;
    margin-top: 30px;
    height: 3px;
    width: 88px;
    border-radius: 3px;
    background-color: #4DC8FF;
}

.philo-text {
    text-align: center;
}

.philo-text h4 {
    color: #777777;
    font-weight: 500;
    font-size: 1.25em;
}

.about-text-container {
    transform: skewY(8deg);
    width: 100%;
    height: 320px;
    background: #C3FFC1;
}

.about-text {
    margin-top: 10%;
    transform: skewY(-8deg);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #C3FFC1;
}

.about-me {
    transform: skewY(4deg);
    width: 67%;
    position: relative;
    top: -75px;
}

.about-me h1 {
    font-weight: 700;
    font-size: 3em;
}

.about-me p {
    text-align: center;
    font-weight: 400;
    font-size: 1.50em;
}

/***************  Project Section  ***************/

.projects {
    transform: skewY(-4deg);
    padding: 10% 0;
    /* padding-bottom: 150px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 150px; */
}

#projects {
    position: relative;
    top: -75px;
}

.projects-page-container {
    transform: skewY(4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-weight: 700;
    font-size: 3em;
}

.project-blue-line {
    margin-top: 5px;
    margin-bottom: 45px;
    height: 3px;
    width: 88px;
    border-radius: 3px;
    background-color: #4DC8FF;
}

.projects-container {
    margin: 0 auto;
    transform: skewY(4deg);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
}

.project-picture-container {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 260px;
    width: 260px;
    background: linear-gradient(126deg, rgba(0, 212, 255, 1) 0%, rgba(195, 255, 193, 1) 100%);
    border-radius: 20px;
    transition: .5s;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgb(224, 224, 224);
}

/* .project-picture-container:hover {
    opacity: .5;
} */

.project-description {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 60%;
    text-align: center;
}

.project-description p {
    margin-top: -15px;
    text-align: left;
}

/***************  Contact Section  ***************/

.contact {
    margin-top: -50px;
    transform: skewY(4deg);
    width: 100%;
    height: 350px;
    background: #4DC8FF;
    display: flex;
    justify-content: center;
}

.contact-container {
    transform: skewY(-4deg);
    padding-top: 50px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    font-weight: 700;
    font-size: 3em;
    color: white;
}

.email {
    margin: 0 auto;
    color: white;
    font-size: 2em;
}

input {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
}

textarea {
    margin-top: 0;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
    resize: none;
}

.contact-btn {
    margin: 0 auto;
    margin-top: 15px;
    background: #C3FFC1;
    width: 40%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    border-radius: 45px;
}

/***************  Footer  ***************/

.footer {
    width: 100%;
    position: relative;
    bottom: 5em;
    height: 8em;
    background: #4DC8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-block {
    background: #4DC8FF;
}

.copyright {
    position: relative;
    top: 3.5em;
    color: #fff;
    font-weight: 500;
}

.footer-icon-container {
    position: relative;
    top: 3em;
    width: 175px;
}

.footer-scroll-icon {
    position: relative;
    top: 60px;
    transform: rotate(180deg);
}

/***************  Media Queries  ***************/

@media screen and (max-width: 1500px) {
    .title-container {
        font-size: 1.5em;
    }
    .contact-container {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .App {
        overflow-x: hidden;
    }
    .title-container {
        min-width: 500px;
        font-size: 1.55em;
        margin-left: 1em;
    }
    .navbar {
        width: 50%;
        margin-right: 1em;
    }
    .nav-container-desktop {
        display: none;
    }
    .ham-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5em;
    }
    .ham-menu img {
        max-width: 35px;
        max-height: 35px;
    }
    .pop-up-nav {
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        border: 1px solid #777777;
        width: 250px;
        background: #fff;
        z-index: 2;
        font-size: 2em;
        transition: .3s;
    }
    .close-container img {
        max-width: 35px;
        max-height: 35px;
        transform: rotate(45deg);
        padding-top: 1em;
        margin-left: 20px;
    }
    .pop-up-nav-items {
        height: 300px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pop-up-nav-items a {
        min-width: 100%;
        padding-top: 2em;
        align-self: center;
    }
    .container {
        flex-direction: column;
    }
    .projects-btn {
        margin-top: 0px;
        margin-bottom: 40px;
        background: #C3FFC1;
        width: 175px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25em;
        font-weight: bold;
        color: black;
        border-radius: 45px;
    }
    /* .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        background: #C3FFC1;
        text-align: center;
        transform: skewY(-4deg);
    }
    .hero-container img {
        top: -40px;
        position: relative;
        transform: skewY(4deg);
        width: 35%;
        height: auto;
        border-radius: 50%;
    } */
    .icon-container img {
        box-shadow: 0 0 0 #777777;
        width: 40px;
        transition: .4s;
    }
    .icon-container img:hover {
        box-shadow: 0 0 0 #777777;
        filter: invert(0%);
        border-radius: 0;
    }
    .scroll-icon {
        display: none;
    }
    .philo-section {
        width: 90%;
    }
    .philo {
        width: 30%;
    }
    .philo-icon {
        width: 70px;
        height: 70px;
    }
    .blue-line {
        width: 50px;
    }
    .philo-text h4 {
        width: 100%;
        font-weight: 400;
        font-size: 1.25em;
    }
    /* #about {
        height: 950px;
    } */
    .about-me {
        top: -50px;
    }
    .about-me h1 {
        font-weight: 700;
        font-size: 3em;
        margin-bottom: 0;
    }
    .projects {
        padding: 17% 0 10%;
    }
    .projects-page-container {
        margin-bottom: 1%;
    }
    .project-blue-line {
        height: 3px;
        width: 88px;
        border-radius: 3px;
        background-color: #4DC8FF;
    }
    .projects-container {
        width: 93%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33.33%);
    }
    .project-picture-container {
        height: 280px;
        width: 280px;
        background: linear-gradient(126deg, rgba(0, 212, 255, 1) 0%, rgba(195, 255, 193, 1) 100%);
        border-radius: 20px;
        transition: .5s;
    }
    .project-description {
        margin-top: 2em;
        margin-bottom: 5em;
        width: 80%;
        text-align: center;
    }
    .project-description h2 {
        font-size: 35px;
    }
    .project-description p {
        margin-top: -15px;
        text-align: left;
        font-size: 23px;
    }
    .contact-container {
        padding-top: 25px;
        width: 60%;
    }
    input {
        font-size: 30px;
    }
    textarea {
        font-size: 30px;
    }
    .footer {
        height: 7em;
    }
}

@media screen and (max-width: 750px) {
    .title {
        display: none;
    }
    .projects-btn {
        margin-top: 0px;
        margin-bottom: 40px;
        background: #C3FFC1;
        width: 175px;
        min-height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25em;
        font-weight: bold;
        color: black;
        border-radius: 45px;
    }
    .icon-container {
        margin-top: 0em;
    }
    .philo-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .philo {
        min-width: 90%;
    }
    .about-text-container {
        max-height: 250px;
    }
    .about-me {
        padding: 4% 0 5%;
        width: 85%;
        text-align: center;
        font-size: .75em;
        top: -25px;
    }
    .about-me h1 {
        font-weight: 700;
        font-size: 2.5em;
        margin-bottom: 0;
    }
    .projects {
        /* margin-top: 0;
        height: auto; */
        padding: 20% 0 13%;
        font-size: .75em;
    }
    .projects-container {
        width: 93%;
        display: flex;
        flex-direction: column;
    }
    .project-container {
        font-size: 10px;
        text-align: center;
    }
    .project-picture-container {
        max-height: 230px;
        max-width: 230px;
        background: linear-gradient(126deg, rgba(0, 212, 255, 1) 0%, rgba(195, 255, 193, 1) 100%);
        border-radius: 20px;
        transition: .5s;
    }
    .project-description h2 {
        font-size: 35px;
    }
    .project-description p {
        margin-top: -15px;
        text-align: center;
        font-size: 15px;
    }
    .contact {
        height: 250px;
        width: 100%;
        padding: 10% 0 0;
    }
    .contact-container {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: .75em;
        display: inherit;
    }
    .contact-container p {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 376px) {
    .projects {
        padding: 65% 0 20%;
    }
}