#about {
    margin-top: -120px;
    height: 100vh;
}

.philo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 7%;
    transform: skewY(-4deg);
    height: 80%;
}

.philo-section {
    width: 80%;
    display: flex;
    justify-content: space-around;
    transform: skewY(4deg);
    margin-bottom: 100px;
}

.philo {
    display: flex;
    flex-direction: column;
    max-height: 325px;
    max-width: 300px;
}

.philo-icon {
    align-self: center;
    width: 93px;
    height: 93px;
}

.blue-line {
    align-self: center;
    margin-top: 30px;
    height: 3px;
    width: 88px;
    border-radius: 3px;
    background-color: #4DC8FF;
}

.philo-text {
    text-align: center;
}

.philo-text h4 {
    color: #777777;
    font-weight: 500;
    font-size: 1.25em;
}

.about-text-container {
    transform: skewY(8deg);
    width: 100%;
    height: 360px;
    background: #C3FFC1;
}

.about-text {
    margin-top: 200px;
    transform: skewY(-8deg);
    width: 100%;
    min-height: 360px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #C3FFC1;
}

.about-me {
    transform: skewY(4deg);
    width: 67%;
    position: relative;
    top: -90px;
}

.about-me h1 {
    font-weight: 700;
    font-size: 3em;
}

.about-me p {
    text-align: center;
    font-weight: 500;
    font-size: 1.50em;
}